---
import { Icon } from "@astrojs/starlight/components";

const asideTypes = {
	note: {
		icon: "information",
		title: "Note",
		color: "#6899fb",
		bgColor: "rgba(104, 153, 251, 0.24)",
	},
	tip: {
		icon: "rocket",
		title: "Tip",
		color: "#a25af4",
		bgColor: "rgba(162, 90, 244, 0.24)",
	},
	caution: {
		icon: "warning",
		title: "Caution",
		color: "#FF7400",
		bgColor: "rgba(244, 133, 41, 0.24)",
	},
	danger: {
		icon: "error",
		title: "Danger",
		color: "#e64f4f",
		bgColor: "rgba(230, 79, 79, 0.24)",
	},
	success: {
		icon: "approve-check-circle",
		title: "Success",
		color: "#64bf4a",
		bgColor: "rgba(100, 191, 74, 0.24)",
	},
	deprecated: {
		icon: "warning",
		title: "Deprecated",
		color: "#cbb747",
		bgColor: "rgba(203, 183, 71, 0.24)",
	},
	adventurex: {
		icon: null,
		title: "AdventureX",
		color: "var(--color-accent)",
		bgColor: "rgba(244, 133, 41, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 200 200" fill="currentColor"><path d="M196.593 8.76812C194.745 7.57119 193.069 7.81818 191.683 9.19559L190.736 10.1265C190.736 10.1265 149.645 50.5418 108.807 90.7006C92.0875 65.8786 77.5255 44.2627 73.154 37.7746C72.4112 36.6726 70.635 35.6752 68.7588 36.1217C67.1349 36.5064 66.0159 36.9101 64.554 37.7508C63.0873 38.5915 62.173 39.9309 62.2825 41.6741C62.3396 42.5575 62.3682 42.5908 62.3682 42.5908C63.8587 60.2549 63.4063 78.2326 60.6968 95.8302L4.3678 95.5025C1.97255 95.5025 0.410629 96.6092 0.0677695 99.1455C-0.0322312 99.877 -0.0179454 101.354 0.0868173 102.081C0.477296 104.945 2.23445 105.7 4.40113 105.7C4.40113 105.7 14.5393 105.719 58.8587 106.033C55.7158 121.26 50.8015 136.094 43.8967 150.077C42.0824 153.658 39.7157 157.049 37.1347 160.659C35.9299 162.34 35.9442 164.031 37.3776 165.703C38.0633 166.501 39.5871 167.869 40.6728 168.311C42.3252 168.98 44.23 168.548 45.4348 167.361C52.3396 160.545 77.1541 136.165 99.9209 113.779L153.126 175.763C154.302 177.269 156.864 178.58 158.812 177.734C160.517 176.993 161.483 176.252 162.398 174.894C163.583 173.132 163.169 171.379 162.074 169.764C156.669 161.742 138.431 134.669 118.997 105.814C121.783 105.8 131.859 105.748 137.093 105.748C139.374 105.748 140.316 104.37 140.726 102.119C140.878 101.288 140.85 99.5635 140.726 98.7276C140.421 96.6805 139.769 95.3553 137.507 95.0181L121.335 92.7239C159.626 55.054 197.574 17.7356 197.574 17.7356L198.788 16.5386C200.088 15.299 200.436 13.4133 199.369 11.5704C198.874 10.7202 197.422 9.30959 196.593 8.77287V8.76812ZM73.4112 56.4409L95.3637 89.0287L92.0589 88.5632C90.4732 88.3542 89.3494 88.9052 88.7065 90.1971L85.6541 95.7305L69.5111 95.7923C71.9826 82.8255 73.3016 69.6451 73.4064 56.4409H73.4112ZM54.6825 143.931C59.9825 131.681 64.2254 118.971 67.3254 105.99C78.5017 105.947 84.7351 105.928 93.1637 105.9L93.2494 106.004C75.235 123.721 63.0063 135.752 54.6825 143.94V143.931Z"/><path d="M157.478 105.686H167.907C170.317 105.686 171.26 104.513 171.688 102.057C171.817 101.335 171.75 99.8579 171.688 99.1217C171.455 96.3146 170.064 95.4929 167.907 95.4929H157.478C154.817 95.4929 153.778 96.7041 153.488 99.1217C153.402 99.8532 153.421 101.33 153.488 102.057C153.745 104.845 154.917 105.686 157.478 105.686Z"/></svg>`,
	},
	shenicest: {
		icon: null,
		title: "Shenicest",
		color: "#64bf4a",
		bgColor: "rgba(100, 191, 74, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 368 328" fill="currentColor"><path d="M162.46 4.14109C178.287 -0.325577 209.613 -0.785737 225.773 0.907596C248.786 4.84093 273.267 11.3209 290.213 28.4143C296.56 34.1609 299.787 45.4676 293.667 52.3209C286.947 57.1476 278.053 54.3743 271.026 51.5876C255.093 43.8276 239.347 35.6276 222.893 28.9876C211.4 24.6809 203.96 20.1411 187.46 19.1411C174.46 18.6411 165.96 18.6411 153.46 20.6411C155.673 20.1344 142.233 15.1211 144.46 14.6411C143.74 13.1078 155.947 11.1343 155.24 9.60094C162.653 7.6676 155.34 6.95442 162.46 4.14109Z"/><path d="M95.813 39.828C147.92 2.5 166.5 2 188.5 0.500001C179.5 3 162.653 7.6676 155.24 9.60094C155.946 11.1342 156.653 12.668 157.373 14.2013C155.146 14.6813 152.92 15.1613 150.706 15.668C162.92 17.4946 175.56 15.3346 187.533 18.9613C179.88 19.0946 175 18.9613 164 20.5C147.466 21.7 132.58 26.6133 118.5 35C107.873 41.2933 98.2263 50.468 91.733 61.0546C85.8663 74.9746 90.3063 89.9079 93.2663 103.881C96.8796 121.801 107 137.961 120.066 150.561C111.826 126.281 108.986 100.561 110 75.0013C112.693 85.2813 115.773 95.708 122.213 104.375C130.706 115.295 142.533 124.108 147.92 137.228C152.613 148.748 156.08 160.975 163.373 171.228C170.04 179.135 179.12 184.388 187.6 190.081C152.04 188.281 115.946 180.255 85.493 161.121C77.3063 155.201 68.493 149.281 63.293 140.361C66.1196 142.815 69.0796 145.135 72.0663 147.401C70.053 142.348 67.1063 137.748 64.3196 133.121C66.1463 135.175 67.973 137.228 69.7863 139.295C64.973 120.948 69.6263 101.721 68.573 82.9879C74.1996 90.8813 77.733 99.908 80.5863 109.108C81.6663 90.4546 78.2263 70.4146 64.9463 56.3613C77.1063 55.4013 86.9596 47.508 95.813 39.828Z"/><path d="M0 29.0679C26.7867 40.5612 54.3064 56.5879 68.573 82.9879C69.6263 101.721 64.973 120.948 69.7863 139.295C67.973 137.228 66.1463 135.175 64.3196 133.121C67.1063 137.748 70.053 142.348 72.0663 147.401C69.0796 145.135 66.1196 142.815 63.293 140.361C56.9064 134.121 53.3467 125.815 50.6 117.495C43.2933 95.5612 40.3467 71.5479 25.9467 52.6279C19.6 42.4545 9.33333 36.1345 0 29.0679Z"/><path d="M314.946 43.188C326.773 52.628 336.16 64.668 343.6 77.7613C352.827 94 355 101.441 360.746 118.081C377.946 176.015 359.146 243.388 314.053 283.695C320.44 251.308 321.493 217.068 310.253 185.575C308.373 180.415 307.594 177.499 304.5 170C300.085 162.526 296.4 156.202 292.9 150.542C286.567 140.299 280.842 132.232 272.494 123.455C265.734 116.215 258.467 109.401 249.56 104.868C242.894 101.121 242.934 92.0813 240.534 85.8013C240.459 86.4169 240.364 87.1844 240.259 88.0293C239.939 90.6208 239.526 93.94 239.294 95.8326C239.294 95.8355 239.293 95.8384 239.293 95.8413C239.346 88.348 239.36 80.8413 240.013 73.388C244.533 69.6146 250.226 67.5347 255.213 64.4413C267.693 71.6013 279.32 80.228 289.56 90.3613C298.226 98.6146 308.5 111.372 318.133 112.148C322.5 112.5 331.44 108.335 332.08 101.441C335.24 80.4147 325.053 60.8413 314.946 43.188Z"/><path d="M42.1869 119.054C49.9069 146.694 69.5602 170.388 94.8535 183.748C99.4802 186.374 104.574 188.281 108.92 191.428C112.534 197.348 112.507 204.468 113.694 211.121C111.134 210.628 108.56 210.121 106 209.588C108.094 210.894 110.214 212.174 112.187 213.654C112.307 213.921 112.534 214.428 112.654 214.681C86.4268 210.881 64.9469 192.841 51.1735 170.974C52.6535 212.548 71.34 253.7 102.5 281.5C102.5 281.5 109 286.5 113 290.668C109.707 290.575 105.96 290.548 102.667 290.668C105.814 291.868 108.987 293.001 112.16 294.188C112.203 295.132 112.251 296.076 112.3 297.024C112.341 297.83 112.384 298.64 112.427 299.455C110.6 298.548 108.774 297.655 106.987 296.721C86.4935 283.401 69.7468 264.268 58.8668 242.401C40.5468 204.361 35.7869 160.561 42.1869 119.054Z"/><path d="M108.92 191.428C128.24 198.014 148.293 202.094 167.827 208.001C182.307 212.694 196.107 221.894 202.813 235.974C209.84 251.734 210.653 269.281 211.44 286.254C208.28 272.668 206.28 257.281 194.92 247.721C177.267 234.014 154.067 232.561 132.64 231.268C113.787 229.961 94.9334 229.047 78 219.5C72 215 66.8399 210.374 62.8799 204.694C71.1465 209.068 78.7999 215.188 88.1999 216.934C96.7332 217.961 111.5 218 122.5 216.5C122.167 215.673 113.813 215 111.5 214.5C111.38 214.247 112.307 213.921 112.187 213.654C110.213 212.174 108.093 210.894 106 209.588C108.56 210.121 111.134 210.628 113.694 211.121C112.508 204.468 112.533 197.348 108.92 191.428Z"/><path d="M255.213 64.4413C224.72 43.0813 191.307 36.3746 155.36 47.4546C146.854 49.5613 137.947 54.2679 135.04 63.1213C129.427 76.7613 136.774 91.7879 146.414 101.521C165.054 121.121 184.947 139.668 201.507 161.148C224.227 190.855 244.827 223.508 252.667 260.575C254.52 271.095 254.547 282.268 251.16 292.481C247.52 303.588 236.307 310.428 225.2 312.068C202.507 317.735 178.6 314.641 156.24 308.961C136.187 304.455 119.54 292.34 102.5 281.5C102.5 281.5 109 286.5 113 290.668C109.707 290.575 105.96 290.548 102.667 290.668C105.814 291.868 108.987 293.001 112.16 294.188C112.203 295.132 112.251 296.076 112.3 297.024C112.341 297.83 112.384 298.64 112.427 299.455C110.6 298.548 108.774 297.655 106.987 296.721C129.72 314.215 158.187 323.295 186.374 326.975C207.054 328.095 229 327.655 248.147 318.775C263.76 311.281 273.467 293.788 272.507 276.588C272.427 238.175 253.134 203.161 230.787 173.135C218.587 158.548 207.6 143.015 196.04 127.935C192.147 121.508 187.534 114.441 189.187 106.521C190.214 100.521 197.5 95 200.8 94.0813C213 90.6852 235.694 100.535 251.014 108.988C267.969 119.569 281.628 134.217 292.9 150.542C286.567 140.299 280.842 132.232 272.494 123.455C265.734 116.215 258.467 109.401 249.56 104.868C242.894 101.121 242.934 92.0813 240.534 85.8013C240.459 86.4169 240.364 87.1844 240.259 88.0293C239.939 90.6208 239.526 93.94 239.294 95.8326C239.294 95.8355 239.293 95.8384 239.293 95.8413C239.346 88.348 239.36 80.8413 240.013 73.388C244.533 69.6146 250.226 67.5347 255.213 64.4413Z"/></svg>`,
	},
	zhouzhou: {
		icon: null,
		title: "周周黑客松",
		color: "#a25af4",
		bgColor: "rgba(162, 90, 244, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 228 328" fill="currentColor"><path d="M176.522 16.0425C193.169 10.7651 209.689 5.08821 226.399 0C226.462 59.2292 226.462 118.458 226.42 177.688C226.945 189.168 217.048 199.618 205.434 198.965C162.79 199.176 120.104 198.987 77.4603 199.071C77.2716 224.869 77.6909 250.688 77.2507 276.487C76.5588 291.415 66.0342 304.556 52.2387 309.645C34.9213 315.637 17.394 320.998 0.0136857 326.781C0.0136857 270.012 -0.00727987 213.243 0.0346511 156.473C-0.678176 145.203 9.72073 135.363 20.7276 135.531C63.4763 135.321 106.246 135.531 148.995 135.426C149.079 107.378 148.911 79.3087 149.079 51.2394C149.099 35.176 161.196 20.2056 176.522 16.0425Z"/><path d="M34.8162 67.4084C47.123 58.3884 62.4907 55.1294 77.4812 54.4565C77.4812 72.3915 77.565 90.3473 77.4601 108.303C77.8585 117.239 70.0174 126.175 60.8136 125.481C40.6238 125.439 20.434 125.481 0.244153 125.439C1.87946 102.059 15.0877 79.9607 34.8162 67.4084Z"/><path d="M149.036 227.834C148.386 218.751 156.395 210.026 165.662 210.719C185.894 210.445 206.147 210.677 226.399 210.634C224.868 233.175 213.043 254.515 195.077 268.056C181.637 277.538 165.493 282.9 149.036 283.195C149.015 264.734 148.994 246.273 149.036 227.834Z"/></svg>`,
	},
	jiangcheng: {
		icon: null,
		title: "江城黑客松",
		color: "#6899fb",
		bgColor: "rgba(104, 153, 251, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 328 328" fill="currentColor"><path d="M91.3867 0.227183C98.0008 -0.48995 104.623 0.720951 111.242 0.709194C140.452 2.15522 169.662 3.4249 198.872 4.90619C209.506 5.15307 220.143 6.24642 230.776 6.09359C229.253 7.16341 227.664 6.82248 226.11 7.16341C192.591 9.17377 159.072 11.4427 125.553 13.3589C114.186 8.60942 102.801 4.05973 91.3867 0.227183Z"/><path d="M149.898 25.938C172.399 26.9255 194.9 28.0893 217.406 29.0651C241.621 30.4289 265.849 31.0637 290.06 32.7566C265.582 34.6847 241.073 35.4253 216.581 37.0124C200.884 37.753 185.187 38.7053 169.489 39.5047C168.052 39.9044 166.735 38.1997 165.401 37.0947C160.302 32.6508 155.087 29.3708 149.898 25.938Z"/><path d="M178.556 51.9785C214.371 55.9403 250.204 59.0205 286.058 58.8089C295.12 58.8559 304.182 58.7501 313.248 58.6913C315.476 58.9029 317.716 58.656 319.94 59.3379C302.308 60.7956 284.686 63.1352 267.05 64.1815C239.087 66.3329 211.107 66.0742 183.136 65.7451C182.325 59.6788 180.421 55.5759 178.556 51.9785Z"/><path d="M182.022 78.2887C215.986 77.4657 249.962 77.8536 283.913 80.6516C297.02 81.6038 310.127 83.0146 323.23 84.3666C324.72 84.6958 326.229 84.5194 327.702 85.4247C291.373 84.5664 255.026 85.0837 218.714 88.0581C204.45 89.1047 190.195 90.5155 175.935 91.9491C178.163 88.1051 180.369 83.9787 182.022 78.2887Z"/><path d="M152.587 118.024C157.263 113.933 161.852 109.066 166.459 104.529C216.612 106.315 266.773 109.019 316.922 110.842C310.969 112.205 304.963 111.688 298.988 112.182C250.187 114.098 201.389 116.12 152.587 118.024Z"/><path d="M119.254 144.1C125.35 139.692 131.424 135.06 137.512 130.592C175.374 132.015 213.244 133.79 251.11 135.272C265.482 136.094 279.868 136.165 294.235 137.352C290.242 138.281 286.222 137.516 282.22 138.081C227.897 139.998 173.578 142.289 119.254 144.1Z"/><path d="M81.522 170.329C88.0713 165.603 94.6465 161.124 101.226 156.773C148.163 158.431 195.099 160.547 242.036 162.311C249.582 162.923 257.138 162.487 264.675 163.545C243.461 164.779 222.237 165.121 201.018 166.049C161.187 167.437 121.353 168.93 81.522 170.329Z"/><path d="M63.3035 183.037C73.6473 182.191 84.0086 182.662 94.3615 182.521C129.918 182.226 165.47 183.908 201.001 187.458C207.084 188.246 213.193 188.27 219.254 189.821C212.757 190.126 206.233 189.328 199.723 189.575C148.253 189.068 96.7877 191.796 45.3525 196.487C51.2973 191.667 57.2894 187.176 63.3035 183.037Z"/><path d="M16.5391 222.527C21.1153 217.612 25.7174 212.557 30.4577 209.019C79.9849 211.111 129.516 213.428 179.047 215.509C176.021 216.543 172.947 215.802 169.908 216.425C118.783 218.401 67.6633 220.693 16.5391 222.527Z"/></svg>`,
	},
	mallab: {
		icon: null,
		title: "MALLAB",
		color: "#e64f4f",
		bgColor: "rgba(230, 79, 79, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 415 328" fill="currentColor"><path d="M0 0H70.2034C72.2106 3.29937 73.4858 6.95304 75.016 10.4738C97.382 63.6403 119.36 116.973 141.937 170.062C165.989 113.386 189.675 56.5433 214.026 0H292.535C285.094 18.3902 276.667 36.3928 268.816 54.6168C228.84 145.483 188.943 236.393 148.912 327.247C143.933 327.269 138.965 327.28 133.987 327.225C116.41 287.71 98.8681 248.184 81.3367 208.647C78.4536 202.535 76.1028 196.18 72.8648 190.234C72.8537 236.06 73.0644 281.897 72.7539 327.723H0V0Z"/><path d="M281.435 142.549C285.616 133.47 288.887 123.97 293.61 115.168C309.235 150.365 325.047 185.485 340.539 220.748C309.678 220.87 278.818 220.781 247.969 220.792C258.725 194.552 270.357 168.656 281.435 142.549Z"/><path d="M235.338 253.997C295.174 254.052 355.01 253.953 414.845 254.041C404.432 278.587 394.319 303.277 383.674 327.723H204.068C205.454 322.198 208.171 317.161 210.355 311.935C218.628 292.593 227.022 273.317 235.338 253.997Z"/></svg>`,
	},
	shiyan: {
		icon: null,
		title: "十堰黑客松",
		color: "#cbb747",
		bgColor: "rgba(203, 183, 71, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 546 328" fill="currentColor"><path d="M270.126 0.178214C273.062 -0.231786 276.068 0.0775119 278.881 0.983827C301.62 7.09068 324.036 14.3268 346.516 21.3184C351.062 22.5268 355.321 26.1089 356.041 30.9498C357.191 40.164 357.45 49.4789 358.767 58.6715C360.479 65.1598 366.759 70.0938 373.485 70.2449C386.189 70.8135 398.907 70.8205 411.619 71.1943C440.89 71.5687 470.154 72.3742 499.418 72.8489C503.971 72.9929 508.237 70.2524 510.237 66.2026C514.56 57.8229 518.747 49.3638 522.998 40.9408C524.459 38.1356 525.639 35.0857 527.833 32.7336C530.782 29.8852 535.688 30.1729 539.005 32.2517C543.178 34.87 545.126 39.8475 545.639 44.5661C546.059 48.1842 544.975 51.7375 543.869 55.1472C539.227 70.5114 533.602 85.6814 525.617 99.6429C523.97 102.505 521.157 104.699 517.898 105.375C483.146 110.749 448.192 114.77 413.396 119.884C399.433 121.934 385.47 124.006 371.529 126.17C368.385 126.473 369.781 130.277 369.788 132.327C376.694 190.749 384.974 248.998 391.98 307.405C392.347 311.44 393.512 315.59 392.361 319.597C391.088 324.114 386.887 327.826 382.096 327.89C309.44 327.905 236.784 327.876 164.127 327.905C159.502 328.063 155.222 324.79 153.668 320.517C152.057 316.77 153.121 312.699 153.546 308.836C159.142 262.442 165.415 216.14 171.329 169.789C172.919 156.345 174.911 142.952 176.17 129.479C176.479 127.94 175.868 126.084 174.033 126.142C141.13 121.035 108.161 116.352 75.1349 112.072C59.5388 110.073 43.9861 107.785 28.4334 105.505C25.0452 104.98 22.0526 102.851 20.2613 99.9591C11.4635 84.5301 5.39925 67.7277 0.529116 50.7017C-0.794521 45.2494 0.378048 39.1138 3.90295 34.7045C6.61496 31.2734 11.5139 29.6838 15.6574 31.2734C18.1536 32.2302 19.4988 34.7189 20.7002 36.9415C25.6134 46.6736 30.5052 56.4203 35.4544 66.1308C37.4255 70.1515 41.605 72.9784 46.1442 72.8489C66.3007 72.5538 86.4574 72.0003 106.614 71.6621C128.44 71.1728 150.272 71.0508 172.084 70.2524C179.637 70.1445 186.802 63.9222 187.284 56.2763C188.234 47.8461 188.658 39.3656 189.651 30.9426C190.428 26.1017 194.629 22.5268 199.211 21.3112C222.778 14.0391 246.229 6.29226 270.126 0.178214ZM265.846 26.0298C256.322 26.8786 247.013 29.6838 238.446 33.9061C231.82 37.1357 225.216 40.4086 218.569 43.5951C216.548 44.5661 214.447 45.6882 213.232 47.6519C211.57 50.1263 211.462 53.2121 211.484 56.0821C211.563 66.6487 211.441 77.2149 211.534 87.7745C211.534 91.3135 213.275 94.8664 216.426 96.6219C232.575 106.124 248.768 115.568 264.911 125.092C267.062 126.315 269.112 127.854 271.565 128.429C273.63 128.875 275.623 127.89 277.363 126.89C294.571 116.712 311.85 106.663 329.057 96.5064C332.373 94.6291 333.92 90.7379 333.819 87.0624C333.841 76.9705 333.776 66.8861 333.841 56.8012C333.855 53.7371 333.913 50.4356 332.165 47.767C330.899 45.6379 328.618 44.4798 326.468 43.4512C319.331 40.0561 312.267 36.51 305.152 33.0789C292.959 27.3677 279.277 24.7135 265.846 26.0298Z"/></svg>`,
	},
	guiwu: {
		icon: null,
		title: "鬼屋黑客松",
		color: "#a25af4",
		bgColor: "rgba(162, 90, 244, 0.24)",
		iconSvg: `<svg width="24" height="24" viewBox="0 0 240 328" fill="currentColor"><path d="M0.0657568 35.9312C19.2786 23.9473 38.5409 12.0456 57.7127 0C78.3228 32.5941 98.4933 65.4718 119.009 98.1275C119.309 98.5632 119.621 98.9906 119.942 99.4221C140.708 66.3307 161.138 33.0256 182.015 0.00410941C201.224 11.9757 220.465 23.9062 239.645 35.9271C224.707 60.3593 209.377 84.5614 194.323 108.928C193.152 110.563 192.302 112.717 190.3 113.514C182.796 116.329 175.583 120.304 169.858 125.987C163.443 132.057 158.146 139.475 155.117 147.806C152.458 154.394 150.95 161.417 150.251 168.473C149.556 178.986 150.173 189.803 153.724 199.81C156.81 208.712 161.438 217.313 168.457 223.737C178.439 234.073 192.988 238.758 207.059 239.423C217.852 256.997 228.878 274.426 239.719 291.966C220.474 303.884 201.318 315.959 182.044 327.831C178.32 324.075 175.156 319.83 171.757 315.79C165.732 308.52 159.835 301.143 153.798 293.881C150.44 289.841 147.904 285.23 145.081 280.825C135.998 266.182 126.756 251.633 117.801 236.912C122.095 236.843 126.398 236.818 130.697 236.818C130.722 195.544 130.681 154.274 130.722 113.001C121.545 112.565 112.355 112.281 103.178 112.77C103.166 154.102 103.158 195.433 103.182 236.769C106.787 237.048 110.399 237.241 113.991 237.677C95.4151 267.863 76.4406 297.806 57.8729 328C38.623 315.901 19.2704 303.971 0 291.9C11.1085 274.208 22.1431 256.471 33.1366 238.712C33.5188 238.154 34.0037 237.595 34.7024 237.455C40.8998 236.501 47.1918 236.892 53.4385 236.822C53.4796 229.022 53.3564 221.217 53.5043 213.421C53.6892 210.569 53.6851 207.672 54.5153 204.914C56.077 201.47 58.3209 198.404 60.2812 195.187C65.5129 186.77 70.8185 178.402 75.968 169.936C69.0226 158.659 61.9128 147.485 55.0331 136.167C65.8416 136.114 76.6543 136.155 87.4669 136.159C80.4928 124.113 73.498 112.084 66.565 100.018C57.7291 84.36 48.511 68.9321 39.7327 53.2454C35.7463 60.4949 31.5174 67.6129 27.4487 74.8131C25.6281 77.3858 24.724 80.5626 22.4637 82.8189C19.4143 77.1433 16.8991 71.2048 14.0059 65.4512C9.37836 55.6044 4.4426 45.8972 0.0657568 35.9312Z"/></svg>`,
	},
} as const;

type AsideType = keyof typeof asideTypes;

interface Props {
	type?: AsideType;
	title?: string;
}

const { type = "note", title } = Astro.props;

const config = asideTypes[type] || asideTypes.note;
const displayTitle = title || config.title;
const hasIconSvg = "iconSvg" in config && config.iconSvg;
---

<aside
	class="px-4 py-3 rounded-xl border flex flex-col overflow-hidden"
	style={`--aside-color: ${config.color}; border-color: ${config.color}; background-color: ${config.bgColor};`}
	aria-label={displayTitle}
>
	<div class="flex items-center gap-2.5">
		{
			hasIconSvg ? (
				<div
					class="w-6 h-6 aside-icon"
					set:html={(config as typeof asideTypes.adventurex).iconSvg}
				/>
			) : (
				config.icon && (
					<div class="aside-icon">
						<Icon name={config.icon} size="24px" />
					</div>
				)
			)
		}
		<span class="text-xl font-medium leading-normal aside-title">
			{displayTitle}
		</span>
	</div>
	<div class="text-base font-normal leading-normal text-(--color-text)">
		<slot />
	</div>
</aside>

<style>
	.aside-icon {
		color: var(--aside-color);
	}
	.aside-title {
		color: var(--aside-color);
	}
</style>
